
.*/
!.github
# VSCode is the offical supported code editor, hence .vs is ignored
!.vscode

[Oo]ld/
[Oo]bj/
[Bb]in/
[Gg]enerated/

# Temporary, add this back in once 0.1 is released and update it to match the current features
[Ee]xtension/

*.dot
*.g.cs
*.Generated.cs
